*~
\#*
.metadata
.classpath
.project
.settings
bin

bindist




dist/

cover-xml

cover-html
cobertura.ser
bin-test
bin-test-instrument
TEST-org.processmining*
tests/libs-external
stdlib/

packagelib/
